
# Ignore everything as a catch-all
/*

# Whitelist Git essentials and system configuration files
!README.md
!.gitignore
!.xinitrc

!.config/bspwm
!.config/feh
!.config/fish
!.config/nvim
.config/nvim/.netrwhist
!.config/picom.conf
!.config/pikaur.conf
!.config/polybar
!.config/rofi
!.config/sxhkd
!.config/termite
